@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 25% 10%;
    --foreground: 0 0% 100%;

    scrollbar-gutter: stable;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply break-all bg-background;
  }

  blockquote * {
    @apply !font-normal !not-italic;
  }

  blockquote *::before,
  blockquote *::after {
    @apply !content-none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
